In [1]:
import numpy as np

Write a Python program which accepts the radius of a circle from the user
and compute the area.

In [5]:
radius=float(input('enter the radius of a circle'))
area=3.14*radius**2
print('Area of Circle is :',area)

enter the radius of a circle3
Area of Circle is : 28.26

Write a Python Program to accept the details of a student like name, roll
number and mark and display it.

In [8]:
name=input('enter the name')
rollnum=int(input('enter the roll number'))
mark=int(input('enter the mark'))
print('Name:',name,'\n','Roll no:',rollnum,'\n','mark:',mark)

enter the nameAnisha
enter the roll number21
enter the mark78
Name: Anisha
 Roll no: 21
 mark: 78

Write a Python program to get the largest number from a list.

In [12]:
number=[12,3,47,10]
m=max(number)
print(m,'is the largest number')

47 is the largest number

In [18]:
1
# number of elements
n = int(input("Enter number of elements : "))

# Below line read inputs from user using map() function
a = list(map(int,
    input("\nEnter the numbers : ").strip().split()))[:n]

print("\nList is - ", a)


m=max(a)
print(m,'is the largest number')

Enter number of elements : 4

Enter the numbers : 12 13 14 15 16

List is -  [12, 13, 14, 15]
15 is the largest number

Given a range of first 10 numbers, write a Python program to iterate from
start number to the end number and print the sum of the current number
and previous number.

In [30]:
n=[1,2,3,4,5,6,7,8,9,10]
previous_num=0
for i in range(0,len(n)):
  sum=i + previous_num
  print('current number:',i)
  print('previous number:',previous_num)
  print('sum',sum)
  previous_num=i

current number: 0
previous number: 0
sum 0
current number: 1
previous number: 0
sum 1
current number: 2
previous number: 1
sum 3
current number: 3
previous number: 2
sum 5
current number: 4
previous number: 3
sum 7
current number: 5
previous number: 4
sum 9
current number: 6
previous number: 5
sum 11
current number: 7
previous number: 6
sum 13
current number: 8
previous number: 7
sum 15
current number: 9
previous number: 8
sum 17

Write a Python program to print only those numbers which are divisible
of 5.

In [47]:
n=[10,20,33,46,55]
for i in n:
  if i%5==0:
    print(i)

10
20
55

Write a Python program to check whether a number is prime or not.

In [65]:
num=int(input('enter a number'))
if num>1:
  for i in range(2,num):
    if (num%i) == 0:
      print(num,"is not a prime number")
      break
  else:
      print(num,'number is a prime number')
else:
  print(num,"not a prime number")

enter a number3
3 number is a prime number

Write a Python program to reverse a list using for loop.

In [76]:
orginal_list=[10,40,30,70]
reverse_list=[]
for i in range(1,len(orginal_list)+1):
  reverse_list.append(orginal_list[-i])

print(reverse_list)

[70, 30, 40, 10]

Write a Python program to print the following pattern.

In [90]:
n=4
for i in range (0,n):
    for j in range(0,i+1):
          print('* ',end="")
    print('')

*
* *
* * *
* * * *

Write a Python program to find the maximum of three numbers

In [97]:
num1=float(input('enter the first number'))
num2=float(input('enter the second number'))
num3=float(input('enter the third number'))

if (num1>num2 and num1>num3):
  print(num1,"is greater")
elif(num2>num1 and num2>num3):
    print(num2,'is greater')
else:
  print(num3,'is greater')

enter the first number34
enter the second number12
enter the third number7
34.0 is greater

Write a Python program to construct the following pattern, using a
nested for loop.

In [111]:
n=5
for i in range (0,n):
    for j in range(0,i+1):
          print('* ',end="")
    print('')
for i in range (n-2,0,-1):
  for j in range(0,i+1):
          print('* ',end="")
  print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *