Write a Python program to accept a string value from the user and display
the count of each character in that string.

In [2]:
n=input('enter a string:').lower()
s={}
for i in n:
  if i in s:
    s[i]+=1
  else:
    s[i]=1
print(s)

enter a string:assembly
{'a': 1, 's': 2, 'e': 1, 'm': 1, 'b': 1, 'l': 1, 'y': 1}

 Write a Python function to find the maximum of three numbers

In [3]:
num1=float(input('enter the first number'))
num2=float(input('enter the second number'))
num3=float(input('enter the third number'))

if (num1>num2 and num1>num3):
  print(num1,"is greater")
elif(num2>num1 and num2>num3):
    print(num2,'is greater')
else:
  print(num3,'is greater')

enter the first number34
enter the second number12
enter the third number7
34.0 is greater

Write a Python function called exponent(base,exp) that returns an
integer value of base raises to the power of exp.

In [13]:
def exponent(base,exp):
  s=base**exp
  print(s)

In [14]:
base=int(input('enter the base'))
exp=int(input('enter the exponent'))
exponent(base,exp)

enter the base2
enter the exponent3
8

Write a Python function that takes a positive integer and returns the sum
of the cube of all the positive integers smaller than the specified number.

In [100]:
def postive_number(num):
  cubes=0
  for i in range (1,num):
    cubes=+ i**3
  print(cubes)

In [101]:
postive_number(4)

27

Write a Python program which iterates from 1 to 10. For multiples of 2,
print “Fizz” instead of the number and for the multiples of 5, print “Buzz”.
For numbers which are multiples of both 2 and 5, print “FizzBuzz”.

In [60]:
n=11
for i in range (1,n):
  if i%2==0:
    print('Fizz')
  elif (i%5==0):
    print('Buzz')
  elif(i%2==0 and i%5==0):
    print('fizzBuzz')
  else:
    print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
Fizz

Write a Python program to find the most frequent item in a list of
numbers.

In [51]:
n=[2,3,4,2,5,2]
max=0
res=n[0]
for i in n:
  freq=n.count(i)
  if freq>max:
    max=freq
    res=i

print(res)

2

Write a Python program to find the sum of squares of the numbers in a
list

In [59]:
n=[2,1,3,1]
res=0
for i in n:
  res= res + i**2

print(res)

15

Write a Python program using for loop that will iterate from 1 to 15. For
each iteration, check if the current number is odd or even, and display the
message to the screen as odd or even. S

In [65]:
n=15
for i in range (1,n+1):
  if i%2==0:
    print(i,'-even')
  elif (i%3==0):
    print(i,'-odd')
  else:
    print(i)

1
2 -even
3 -odd
4 -even
5
6 -even
7
8 -even
9 -odd
10 -even
11
12 -even
13
14 -even
15 -odd

Write a Python program to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.]

In [67]:
print("Options are \n")
print("1.Convert temperatures from Celsius to Fahrenheit \n")
print("2.Convert temperatures from Fahrenheit to Celsius \n")
opt=int(input("Choose any Option(1 or 2) : "))
if opt == 1:
    print("Convert temperatures from Celsius to Fahrenheit \n")
    cel = float(input("Enter Temperature in Celsius: "))
    fahr = (cel*9/5)+32
    print("Temperature in Fahrenheit =",fahr)
elif opt == 2:
    print("Convert temperatures from Fahrenheit to Celsius \n")
    fahr = float(input("Enter Temperature in Fahrenheit: "))
    cel=(fahr-32)*5/9;
    print("Temperature in Celsius =",cel)
else:
    print("Invalid Option")

Options are

1.Convert temperatures from Celsius to Fahrenheit

2.Convert temperatures from Fahrenheit to Celsius

Choose any Option(1 or 2) : 2
Convert temperatures from Fahrenheit to Celsius

Enter Temperature in Fahrenheit: 41
Temperature in Celsius = 5.0

Write a Python function to calculate the factorial of a number (a
nonnegative integer). The function accepts the number as an argument.

In [79]:
def factorial(num):
  fact=1
  for i in range(1,num+1):
    if num<0:
      print('not valid')
    elif(num>1):
      fact=fact*i
  print(fact)

In [81]:
factorial(3)

6